<div class="grid grid-cols-4">
    <app-side-bar></app-side-bar>
</div>
  <div class="wrapper">
<div class="greet flex justify-between">
    <div class="relative m-3 flex justify-center menuu">
        
          <h3 class="greetings mt-5 ml-6">Good Morning, <span style="color: #828282;">Michael</span> </h3>
    </div>
    <div class="relative flex mr-14 mt-5 p-2 cursor-pointer">
        <h3 class="date mt-3 mr-5">April 7, 2021</h3>
        <div class="flex">
         <img src="assets/images/img1.png" alt="img">
         <svg class="fill-current mt-5 ml-1 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>

        </div>
    </div>
    </div>
    
    <div class="menu">
         <div class="flex" style=" height: 140px; background: #6FCF97;">
               <img src="" alt=""><span style="margin-left: 20px; margin-top:30px; border-radius:40px; width: 80px;height: 80px;background: #F2F2F2;"></span>
           <label style="font-family: 'Josefin Sans';
           font-style: normal;
           font-weight: 600;
           font-size: 24px;
           margin-top: 60px;
           margin-left: 30px;color: #333333;" for="name">Mr. Sunday Tanko Medon</label>
            </div>
        <div class="m-3 justify-between"> 
            <button style="background: #FF1A1A;
            border-radius: 5px;font-family: 'Josefin Sans';width: 80px;
height: 44px; margin-left: 20px;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;" type="button">Reject</button>
              <button style="background: #F2C94C;
              border-radius: 5px;font-family: 'Josefin Sans';width: 80px;
height: 44px;
font-style: normal; margin-left: 20px;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;" type="button">Cancel</button>
        
            <div class="flex">
                <button class="btnList" type="button">Generate Offer Letter</button>
                <button class="btnList" type="button">Edit Loan Record</button>
                <button class="btnList" type="button">Add Comment</button>
                <button class="btnList" type="button">Process for Awaiting Disbursement</button>
                <button class="btnList" type="button">Upload Documents</button>
            </div>

            <div class="flex">
                <div>
                    <div class="loanDetails">
                    <div class="flex">
                    <label style="margin:10px; width: 1000px; margin-right: 390px; margin-top: 20px;  font-family: 'Josefin Sans'; font-style: normal;font-weight: 600; font-size: 18px;
                    color: #000000;">Loan Details</label>
    <svg xmlns="http://www.w3.org/2000/svg" class="lnDtl mt-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">ID</label>
                        <label class="lnDtl">72235</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Mode of Application</label>
                        <label class="lnDtl">Web</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Credit Score</label>
                        <label class="lnDtl">3683</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Date Created</label>
                        <label class="lnDtl">Apr 13, 2021</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Marketer</label>
                        <label class="lnDtl">Blessing Ebute</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Status</label>
                        <label class="lnDtl">Processing</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Offer Letter</label>
                        <label class="lnDtl">Generated</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Document</label>
                        <label class="lnDtl">No Document</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Remita</label>
                        <label class="lnDtl">No Remita</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="lnDetails">Verification Status</label>
                        <label class="lnDtl">Verified</label>
                    </div>
                </div> 
                <div style="width: 614px; height: 78px; background: #FCFBFB; border-radius: 10px;  margin-left: -15px; margin-top: 30px; padding:20px">
                    <div class="flex">
                        <label style="font-family: 'Josefin Sans';width:700px;
                    font-style: normal;font-weight: 600;font-size: 18px; color: #000000;">Bank Information</label>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                      </svg>
                </div>
                </div>
                </div>
               

                <div>
                    <div class="personalInfo">
                    <div class="flex">
                        <label style="margin:10px; width:2000px; margin-right: 90px; margin-top: 20px;  font-family: 'Josefin Sans'; font-style: normal;font-weight: 600; font-size: 18px;
                        color: #000000;">Personal Information</label>
        <svg xmlns="http://www.w3.org/2000/svg" class="lnDtl mt-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
                        </div>
                        <div style="margin-top: 20px;" class="flex">
                            <label class="pDetails">Title</label>
                            <label class="pDtl">Mr</label>
                        </div>
                        <div style="margin-top: 20px;" class="flex">
                            <label class="pDetails">First Name</label>
                            <label class="pDtl">Sunday Tanko</label>
                        </div>
                        <div style="margin-top: 20px;" class="flex">
                            <label class="pDetails">Last Name</label>
                            <label class="pDtl">Medon</label>
                        </div>
                        <div style="margin-top: 20px;" class="flex">
                            <label class="pDetails">Gender</label>
                            <label class="pDtl">Male</label>
                        </div>
                        <div style="margin-top: 20px;" class="flex">
                            <label class="pDetails">Date of Birth</label>
                            <label class="pDtl">15/01/1968</label>
                        </div>
                    
                </div> 
                     <div style="width: 412px; height: 78px; background: #FCFBFB; border-radius: 10px; margin-top: 30px; padding:20px">
                    <div class="flex">
                        <label style="font-family: 'Josefin Sans';width:400px;
                    font-style: normal;font-weight: 600;font-size: 18px; color: #000000;">Contact Information</label>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                      </svg>
                </div>
                </div>
                </div>
               
            </div>
    </div>
    <div class="m-3 flex justify-between">
        <div>
            <label style="color:#F56B2A; border-bottom: 2px solid  #F56B2A;padding:2px;" class="list">Verification and Affordability</label>
        <label class="list">Approval Checklist</label>
        <label class="list">Loan Disk</label>  
        <label class="list">Loan Comments</label>
        <label class="list">Existing Loan Records</label>
        </div>
    </div>
     <div>
        <div class="m-3 flex">
            <label class="list">Disbursement Details</label>
        <label class="list">PLAAS Schedule</label>
        </div>
    </div>

    <div class="flex">
        <div class="ippsVerify">
                <div class="flex">
                <label style="margin:10px; width: 1000px; margin-right: 390px; margin-top: 20px;  font-family: 'Josefin Sans'; font-style: normal;font-weight: 600; font-size: 18px;
                color: #000000;">IPPIS Verification</label>
<svg xmlns="http://www.w3.org/2000/svg" class="lnDtl mt-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
<path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
</svg>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Amount</label>
                    <label class="lnDtl">72235</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Monthly Repayment</label>
                    <label class="lnDtl">3683</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Net Pay</label>
                    <label class="lnDtl">Apr 13, 2021</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Available Balance</label>
                    <label class="lnDtl">Blessing Ebute</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Amount</label>
                    <label class="lnDtl">72235</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Tenor</label>
                    <label class="lnDtl">Web</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Monthly Repayment</label>
                    <label class="lnDtl">3683</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Net Pay</label>
                    <label class="lnDtl">Apr 13, 2021</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Available Balance</label>
                    <label class="lnDtl">Blessing Ebute</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Amount</label>
                    <label class="lnDtl">72235</label>
                </div>

                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Tenor</label>
                    <label class="lnDtl">Web</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Monthly Repayment</label>
                    <label class="lnDtl">3683</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Net Pay</label>
                    <label class="lnDtl">Apr 13, 2021</label>
                </div>
                <div style="margin-top: 20px;" class="flex">
                    <label class="lnDetails">Available Balance</label>
                    <label class="lnDtl">Blessing Ebute</label>
                </div>
        </div>
        <div>
             <div>
            <div class="reqDetails">
                <div class="flex">
                    <label style="margin:10px; width:2000px; margin-right: 90px; margin-top: 20px;  font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;color: #000000;">Request Details</label>
    <svg xmlns="http://www.w3.org/2000/svg" class="lnDtl mt-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
                    </div>
                    
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Amount</label>
                        <label class="pDtl">72235</label>
                    </div>
    
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Tenor</label>
                        <label class="pDtl">Web</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Monthly Repayment</label>
                        <label class="pDtl">3683</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Net Pay</label>
                        <label class="pDtl">Apr 13, 2021</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Available Balance</label>
                        <label class="pDtl">Blessing Ebute</label>
                    </div>
        </div>
        </div>
       
            <div class="reqDetails">
                 <div style="background: #FCFCFC;">
                <div class="flex">
                    <label style="margin:10px; width:2000px; margin-right: 90px; margin-top: 20px;  font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;color: #000000;">RSP Details</label>
    <svg xmlns="http://www.w3.org/2000/svg" class="lnDtl mt-5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
                    </div>
                    
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Amount</label>
                        <label class="pDtl">72235</label>
                    </div>
    
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Tenor</label>
                        <label class="pDtl">Web</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Monthly Repayment</label>
                        <label class="pDtl">3683</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Net Pay</label>
                        <label class="pDtl">Apr 13, 2021</label>
                    </div>
                    <div style="margin-top: 20px;" class="flex">
                        <label class="pDetails">Available Balance</label>
                        <label class="pDtl">Blessing Ebute</label>
                    </div>
        </div>
        </div>
        </div>
       
    </div>
    <div class="m-3 mt-7 flex justify-between">
        <div class="stat">
            <label class="rsp">RSP Salary Details</label>
            <div class="overflow-hidden sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead>
                    <tr style="background: #FEE9DF;
                  border-radius: 5px 5px 0px 0px;">
                      <th scope="col" class="name px-6 py-3">S/N</th>
                      <th scope="col" class="email px-6 py-3">Amount</th>
                      <th scope="col" class="phone px-6 py-3">Payment Date</th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                  </tbody>
                </table>
              </div>
            
        </div>
</div>
<div class="m-3 mt-7 flex justify-between">
    <div class="stat">
        <label class="rsp">RSP Salary Details</label>
        <div class="overflow-hidden sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr style="background: #FEE9DF;
              border-radius: 5px 5px 0px 0px;">
                  <th scope="col" class="name px-6 py-3">S/N</th>
                  <th scope="col" class="email px-6 py-3">Status</th>
                  <th scope="col" class="phone px-6 py-3">Provider</th>
                  <th scope="col" class="name px-6 py-3">Outstanding Amount</th>
                  <th scope="col" class="email px-6 py-3">Loan Disbursement Date</th>
                  <th scope="col" class="phone px-6 py-3">Repayment Amount</th>
                  <th scope="col" class="name px-6 py-3">Repayment Frequency</th>
                  <th scope="col" class="email px-6 py-3">Loan Amount</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              </tbody>
            </table>
          </div>
        
    </div>
</div>
</div>